<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page | <%= title %> </title>
</head>
<body>
    <nav>
        <a href="/">Home page</a>
        <a href="/about">About page</a>
        <a href="/blogs/create">Create page</a>
    </nav>
    <h1>Create page</h1>
    <p>This is the Create a blog page</p>

    <form>
        <input type="text" id="title" placeholder="Whats the title ?" required>
        <input type="text" id="snippet" placeholder="Whats the snippet ?" required>
        <textarea id="body" placeholder="What the content ?" required ></textarea>
        <button>Submit</button>
    </form>

</body>
</html>